p a{
  text-decoration: none;
  color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #ffffff;
    padding: 10px;
  }

  .grid-containerTwo {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding: 10px;
  }
  
  button{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-top: 5px;
  }

  input{
    background-color: white;
    margin-top: 1px;
    width: 80%;
  }

  button:hover{
    background-color: black;
    color: white;
  }